html {
    max-width: 480px;
   
    background-color: rgb(185, 47, 47);
}

.headerr {
    width: 100%;
    background-color:rgb(221, 204, 46);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.headerr img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.pnt {
    list-style: none;
    padding: 5rem;
    height: 11.5rem;
    width: 100%;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    overflow-y: scroll;
}

.pnt li {
    width: 100%;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(122, 119, 119);
}

.signo-igual {
    color: rgb(240, 137, 11);
    justify-self: right;
}

.result {
    font-weight: 500;
    justify-self: right;
    color: rgb(122, 119, 119);
}

#pantalla {
    display: flex;
    width: 100%;
    height: 6.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: black;
    color: white;
}

.text {
    align-items: end;
}

.esc {
    display: grid;
    grid-template-columns: repeat(5, 5rem);
    grid-template-rows: repeat(5, 6.6rem);
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.teclas {
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: rgb(32, 32, 32);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eliminar {
    width: 40%;
}

.teclas:active {
    background-color: rgb(223, 145, 1);
}

.teclas:hover {
    font-weight: 800;
    background-color: rgb(63, 62, 62);
}

.num {
    background-color:rgb(221, 204, 46);
}

.igual {
    background-color: rgb(221, 204, 46);
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}
.delete-item{
    text-decoration: none;
    background-color: rgb(202, 202, 202);
    margin-top: 0.5rem;
    width: 2rem;
    border-radius: 1em;
}

@media screen and (max-width: 480px) {
    
    .headerr {
        width: 100%;
        background-color: rgb(18, 53, 248);
        font-size: 1.5rem;
        display: flex;
        align-items: center;
       
    }
    
    .headerr img {
        width: 4rem;
        height: 4rem;
       
    }
    .pnt {
        list-style: none;
        padding: 2rem;
        height: 7rem;
        width: 100%;
        background-color:black;
        
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        overflow-y: scroll;
    }
   
    #pantalla {
        display: flex;
        width: 100%;
        height: 6rem;
        font-size: 2rem;
        font-weight: 600;
        
        border: none;
        outline: none;
        padding: 1rem;
        background-color:black;
        color: white;
    }
    .esc {
        display: grid;
        grid-template-columns: repeat(5, 4fr);
        grid-template-rows: repeat(5,7rem);
        gap: 2rem;
        width: 100%;
        background-color:rgb(0, 0, 0);
       
    }
    .num {
        background-color:rgb(29, 96, 221);
    }
    
    .igual {
        background-color: rgb(29, 96, 221);
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    .delete-item{
        text-decoration: none;
        background-color: rgb(202, 202, 202);
        margin-top: 0.5rem;
        width: 2rem;
        border-radius: 1em;
    }
}
