@media screen and (max-width: 480px) {
    #root {
        margin-top: 1rem;
     
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .pnt {
        height: 100%;
    }
    .esc {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 4.5rem);
        gap: 1rem;
        padding: 1rem;
        width: 50rem;
        background-color: black;
    }
}













